manifest {
	name						= 'Oligomer'
	version 					= '0.0.1'
	description					= ''
	author						= 'Vincent Chapdelaine'
	homePage					= ''
	mainScript					= 'main.nf'
	nextflowVersion					= '!>=22.10.4'
}

params {
	//Requiered inputs

	Library_target					= null
	Filter_empty					= false
	Library_positive				= null
	Library_positive_default			= ""
	Positive_library_instruction			= ""
	Library_negative				= null
	Library_negative_default			=""
	N_negative					= null
	outdir                                		= 'default'
	Errors						='Errors'
	Auxiliary_files					='Auxiliary_files'
	Oligomer_repository				='Oligomer_repository'
	nGuidesPerConcatamer				= ""
	Primer_forward					= ""
	Primer_reverse					= ""
        sensor                                          = null 
}

includeConfig 'conf/base.config'
