manifest {
	name						= 'SG'
	version 					= '0.0.0'
	description					= 'CRISPR gRNA determination, mutation prediction and annotation'
	author						= 'Vincent Chapdelaine, Daniel Taliun & Raquel Cuella-Martin'
	mainScript					= 'main.nf'
}

nextflow {
    // Disable internet access for resolving dependencies
    enableCapsule = false
}

capsule {
    // Set the capsule cache to use offline dependencies
    cacheDir = "$HOME/.nextflow/capsule"
}



params {
	//Requiered inputs
	project											= null
	Target_genes									= null
	Positive_gene									= null
	Negative_gene									= null
    isoform 										= null
	GC												= null
	remove_empty									= false
	Flanking										= '0'
	Editors											= ''
	feature											= 'CDS'
	cas_Name										= null
	CFD_Threshold									= ""
	CFD_Count										= ""
	CFD_files										= "${projectDir}/assets/CDF_scoring"
	VEP_sif											= "${projectDir}/assets/vep.sif"
      
    limit_bp                                        = "1500000"
    soft_bp_limit                                   = "10000"
    Cas_Variant_Json                                = "${projectDir}/assets/Dataset/Cas_Variant.json"
    crispr_chunksize                                = '30000'

#    Environment Dependant Variable
    Python_env                                      = ""
    R_temporary_dir                                 = ""  

	//Outputs
	output											= ''
	outdir											= ''
	Libraries										= "Libraries"
	Auxiliary_files									= "Auxiliary_files"
	Report_output									= "Report_output"
	Report_ancillary								= "Report_ancillary"
	Errors											= "Errors"
	Library_Type									= ''
    send_mail                                   	= true

}


includeConfig 'conf/base.config'
