manifest {
	name						= 'CRISPR-BEdiscovered'
	version 					= '0.0.0'
	description					= 'CRISPR gRNA determination, mutation prediction and annotation'
	author						= 'Vincent Chapdelaine, Daniel Taliun & Raquel Cuella-Martin'
	mainScript					= 'main.nf'
}

nextflow {
    // Disable internet access for resolving dependencies
    enableCapsule = false
}

capsule {
    // Set the capsule cache to use offline dependencies
    cacheDir = "$HOME/.nextflow/capsule"
}


params {
	//Requiered inputs
	project						= null
	protein_id					= null
	protein_Pos					= null
	protein_Neg					= null
	MANE						= null
	GC						= null
	remove_empty					= false
	genome						= 'hg38'
	border						= '30'
	Editors						= 'FNLS 3 8 C T'
	index_dir					= "${projectDir}/../CRISPR_cloudgene/assets/dataset/CRISPR_cloudgene/bowtie_index/"
	feature						= 'CDS'
	casName						= null
	CFD_Threshold					= null
	CFD_Count					= null
	CFD_files					= "${projectDir}/../CRISPR_cloudgene/assets/dataset/CDF_scoring/"
	Gen_pipeline_data				= "${projectDir}/../CRISPR_cloudgene/assets/dataset/CRISPR_cloudgene/"
	VEP_dir						= "${projectDir}/../CRISPR_cloudgene/assets/dataset/VEP_tools/"
	protein_Pos_default				= "${projectDir}/../CRISPR_cloudgene/assets/NO_FILE_POSITIVE"
	protein_Neg_default				= "${projectDir}/../CRISPR_cloudgene/assets/NO_FILE_NEGATIVE"
        Python_env                                      = "/home/vct/env/crispr-env/bin/activate"
        R_temporary_dir				        = "/mnt/s3/R_temp"

	//Outputs
	output						= 'default'
	outdir						= ''
	Libraries					= "Libraries"
	Auxiliary_files					= "Auxiliary_files"
	Report_output					= "Report_output"
	Report_ancillary				= "Report_ancillary"
	Errors						= "Errors"
	Library_Type					= ''

}


includeConfig 'conf/base.config'
