manifest {
	name						= 'CRISPR-BEdiscovered'
	version 					= '0.0.0'
	description					= 'CRISPR gRNA determination, mutation prediction and annotation'
	author						= 'Vincent Chapdelaine, Daniel Taliun & Raquel Cuella-Martin'
	mainScript					= 'main.nf'
}

nextflow {
    // Disable internet access for resolving dependencies
    enableCapsule = false
}

capsule {
    // Set the capsule cache to use offline dependencies
    cacheDir = "$HOME/.nextflow/capsule"
}


params {
	//Requiered inputs
	project						= null
	protein_id					= null
	protein_Pos					= null
	protein_Neg					= null
    isoform 					= null
	GC							= null
	remove_empty				= false
	genome						= 'hg38'
	border						= '30'
	Editors						= 'FNLS 3 8 C T'

	feature						= 'CDS' // for the future
	casName						= null
	CFD_Threshold				= null
	CFD_Count					= null
	// Where things are
	CFD_files					= "" 
	Gen_pipeline_data			= ""
	VEP_dir						= ""
	protein_Pos_default			= ""
	protein_Neg_default			= ""
    Python_env                  = ""
    R_temporary_dir				= ""
	index_dir					= ""

	//Outputs
	output						= 'default'
	outdir						= ''
	Libraries					= "Libraries"
	Auxiliary_files				= "Auxiliary_files"
	Report_output				= "Report_output"
	Report_ancillary			= "Report_ancillary"
	Errors						= "Errors"
	Library_Type				= ''

}


includeConfig 'conf/base.config'
