manifest {
        name                                            = 'SG'
        version                                         = '0.0.0'
        description                                     = 'CRISPR gRNA determination, mutation prediction and annotation'
        author                                          = 'Vincent Chapdelaine, Daniel Taliun & Raquel Cuella-Martin'
        mainScript                                      = 'main.nf'
}

nextflow {
    // Disable internet access for resolving dependencies
    enableCapsule = false
}

capsule {
    // Set the capsule cache to use offline dependencies
    cacheDir = "$HOME/.nextflow/capsule"
}


params {
        //Requiered inputs
        project                                         = null
        install_cas_variant                             = null
        pam                                             = null
        protospacer_length                              = null
        CFD_access                                      = null
        Pam_side                                        = null
        rs3_access                                      = null
        cas_Full_Name                                   = null
        cloudgene_exe                                   = ""
        install_dir                                     = ""
        cloudgene                                       = true
}
