mail {
    smtp.host = "${CLOUDGENE_SMTP_HOST}"
    smtp.port = "${CLOUDGENE_SMTP_PORT}"
    smtp.user = "${CLOUDGENE_SMTP_USER}"
    smtp.from = "crisprbeasy@cerc-genomic-medicine.ca"
    smtp.password = "${CLOUDGENE_SMTP_PASSWORD}"
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.ssl.protocols = 'TLSv1.2'
}

apptainer {
        enabled = true
        autoMounts = true
}

executor {
  $slurm {
      queueSize = 5
      queueStatInterval = "15sec"
      pollInterval = '15sec'
      exitReadTimeout = '120sec'
      dumpInterval = '1sec'
  
}
}

 nextflow {
    // Disable internet access for resolving dependencies (if false)
    enableCapsule = true
}

 capsule {
    // Set the capsule cache to use offline dependencies
    cacheDir = "$HOME/.nextflow/capsule"
}

NXF_TEMP = '/mnt/s3/tmp'
process {
        stageInMode = 'copy'       // or 'rsync' if available
        stageOutMode = 'copy'      // optional; 'copy' is default
        withName : 'Validate' {
        executor = 'slurm'
	cpus = { 1 }
        memory = { 2.GB }
	errorStrategy = 'retry'
        maxRetries = 0
	scratch = true
	cache = false
	}

	withName : 'CRISPRverse' {
	executor = 'slurm'
        cpus = { 1 }
        memory = { 6.GB + 4.GB * task.attempt }
        maxRetries = 0
        scratch = true
	errorStrategy = 'retry'
	cache = false
	}
 
	withName : 'OnTarget' {
	cpus = { 1 }
        scratch = true
        executor = 'slurm'
        memory = { 2.GB * task.attempt }
        errorStrategy = 'retry'
	maxRetries = 1
  }
        
	withName : 'Basic_Annotation' {
        cpus = { 1 }
        scratch = true
        executor = 'slurm'
        memory = { 3.GB * task.attempt }
	errorStrategy = 'retry'
	maxRetries = 0
	cache = false
  }
	withName : 'annotate' {	
        container = "${params.VEP_sif}"       
        cpus = { 1 }
        scratch = true
        memory = { 4.GB + 2.GB * task.attempt }
	errorStrategy = 'retry'
	maxRetries = 2
	cache = false
        executor = 'slurm'
  }
        withName : 'annotate_tar' {
        container = "${params.VEP_sif}"
        cpus = { 1 }
        scratch = true
        memory = { 4.GB + 2.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 1
        cache = false
        executor = 'slurm'
  }
        withName : 'to_excel' {
        cpus = { 1 }
        memory = { 4.GB * task.attempt  }
        errorStrategy = 'retry'
        scratch = true
        maxRetries = 2
        executor = 'slurm'
  }
        withName : 'combine_vep' {
	cpus = { 1 }
        memory = { 5.GB * task.attempt }
        executor = 'slurm'
        maxRetries = 2
  }
        withName : 'combine_csv' {
        cpus = { 1 }
        memory = { 5.GB *task.attempt }
        executor = 'slurm'
        maxRetries = 2
  }
       withName : 'report' {
        cpus = { 1 }
        memory = { 3.GB * task.attempt }
        maxRetries = 2
        executor = 'slurm'
        errorStrategy = 'retry'
  }
       withName : 'combine_general' {
        cpus = { 1 }
        memory = { 3.GB * task.attempt }
        executor = 'slurm'
        errorStrategy = 'retry'
        maxRetries = 2
  }
       withName : 'combine_vcfs' {
        cpus = { 1 }
        memory = { 3.GB * task.attempt }
        executor = 'slurm'
        maxRetries = 2
  }
       withName : 'combine_annotations' {
        cpus = { 1 }
        memory = { 3.GB * task.attempt }
        executor = 'slurm'
        maxRetries = 2
  }
       withName : 'combine_failed' {
        cpus = { 1 }
        memory = { 3.GB * task.attempt }
        executor = 'slurm'
        maxRetries = 2
  }
}
