apptainer {
        enabled = true
        autoMounts = true
}

NXF_TEMP='/mnt/s3/tmp/'

process {
        withName : 'Validate' {
        cpus = { 1 }
        memory = { 2.GB }
        executor = 'local'  // Use SLURM for all processes
	maxRetries = 0
	}

        withName : 'OnTarget' {
        cpus = { 1 }
        memory = { 2.GB }
        executor = 'local'  // Use SLURM for all processes
        maxRetries = 0
        }

	withName : 'CRISPRverse' {
        cpus = { 1 * task.attempt }
        memory = { 5.GB + 1.GB * task.attempt }
        executor = 'local'  // Use SLURM for all processes
	errorStrategy = 'retry'
  	maxRetries = 1
	}
        
        
	withName : 'Basic_Annotation' {
        cpus = { 1 * task.attempt }
        memory = { 2.GB * task.attempt }
        executor = 'local'  // Use SLURM for all processes
	errorStrategy = 'retry'
  	maxRetries = 0
  }

	withName : 'annotate' {	
	container = "${params.VEP_dir}/vep.sif" 
        cpus = { 1 * task.attempt }
        memory = { 2.GB * task.attempt }
        executor = 'local'  // Use SLURM for all processes
	errorStrategy = 'retry'
  	maxRetries = 1
  }
        withName : 'to_excel' {
        cpus = { 1 }
        memory = { 2.GB }
        executor = 'local'  // Use SLURM for all processes
  }
        withName : 'combine_vep' {
        cpus = { 1 }
        memory = { 2.GB }
        executor = 'local'  // Use SLURM for all processes
  }
        withName : 'combine_csv' {
        cpus = { 1 }
        memory = { 2.GB }
        executor = 'local'  // Use SLURM for all processes

  }

       withName : 'report' {
        cpus = { 2 * task.attempt }
        memory = { 2.GB }
        executor = "local"

  }
}
