manifest {
	name						= 'Install_genomes'
	version 					= '0.0.0'
	description					= 'install genomes linked database for CRISPR-BEasy'
	author						= 'Vincent Chapdelaine, Daniel Taliun & Raquel Cuella-Martin'
	mainScript					= 'main.nf'
}

nextflow {
    // Disable internet access for resolving dependencies
    enableCapsule = false
}

capsule {
    // Set the capsule cache to use offline dependencies
    cacheDir = "$HOME/.nextflow/capsule"
}


params {


        // ------------------------- Pipeline Input -------------------------------
        project                                         = null
        
        install_dir                                     = ""
        Genome_Json                                     = ""
        vep_threshold                                   = 10

               install_ensembl                = null         // Usage nextflow main.nf --install_ensembl <genome> //Behaviour : check ensembl for the assembly name and install it.


        // ------------------------- Environment Setup & tools -------------------------------
        Python_env                                      = "" // path/to/python/env/bin/activate
        R_temporary_dir                                 = "" // /Path/to/temporary/file (if space is not limited leave blank)
        cloudgene_exe                                   = ""
        cloudgene                                       = true

}


includeConfig 'conf/base.config'
