
apptainer {
        enabled = true
        autoMounts = true
}

executor {
  $slurm {
      queueSize = 5
      queueStatInterval = "15sec"
      pollInterval = '15sec'
      exitReadTimeout = '120sec'
      dumpInterval = '1sec'
  
}
}

 nextflow {
    // Disable internet access for resolving dependencies (if false)
    enableCapsule = true
}

 capsule {
    // Set the capsule cache to use offline dependencies
    cacheDir = "$HOME/.nextflow/capsule"
}

NXF_TEMP = '/mnt/s3/tmp'
process {
          stageInMode = 'copy'       // or 'rsync' if available
  stageOutMode = 'copy'      // optional; 'copy' is default
}

process {
          stageInMode = 'copy'       // or 'rsync' if available
  stageOutMode = 'copy'      // optional; 'copy' is default
        withName : 'RBSname' {
        executor = 'slurm'
	cpus = { 1 }
        memory = { 10.GB }
	scratch = true
	cache = false
	time = '3h'
	}

	withName : 'unTARvep' {
	executor = 'slurm'
        cpus = { 1 }
        memory = { 10.GB + 5.GB * task.attempt }
	maxRetries = 4
	time = '3h'
        scratch = true
	cache = false
	errorStrategy = 'retry'
	}

        withName : 'bowtie' {
        executor = 'slurm'
        cpus = { 1 }
	time = '10h'
        memory = { 9.GB + 4.GB * task.attempt }
        maxRetries = 4
        scratch = true
        cache = false
        errorStrategy = 'retry'
        }
}

